# pipeline version That should be used 
version : 2.1
# sets of rules used by circle ci To setup The pipeline
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@2.0.6
  eb: circleci/aws-elastic-beanstalk@2.0.1

# commands That we want to run from our scripts to automate the tasks
jobs:
  build:
    docker:
        # the image That we are using To build our project sufficient for all the taks we need 
        - image: 'cimg/base:stable'
    steps:
      #install nodejs
      - node/install:
          node-version: '14.15.1'
      - checkout
      - aws-cli/setup
      - eb/setup
      #running the specific tasks
      #start installing The frontend dependencies 
      - run:
          name : installing the frontend dependencies
          command: npm run frontend:install
      #start installing The backend dependencies     
      - run:
            name : installing the backend dependencies
            command : npm run backend:install
      #start building The frontend 
      - run:
            name : building the frontend
            command : |
              npm run frontend:build
      #start building the backend
      - run:
            name : building the backend
            command : |
              npm run backend:build
            #start deploying The frontend
      - run:
            name : deploying the frontend
            command : |
              npm run frontend:deploy
            #start deploying The backend
      - run:
            name : deploying the backend
            command : |
              npm run backend:deploy
#the order of jobs applied
workflows:
  Build-Deploy:
    jobs:
    - build:
        filters:
          branches:
            only:
              - main
            

